### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

target/
!.mvn/wrapper/maven-wrapper.jar
src/generated/
.credentials
.DS_Store